
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #BBC9F4; 
    width: 100%;
    height: 280px;
    padding: 25px;
    margin-top: 35px;
    margin-left: 75px;
    border-radius: 20px;
}

.profile-container-upper {
    background-color: #BBC9F4; 
    display: flex;
    gap: 60px;
}

.profile-img {
    border-radius: 50%;
}

/* .profile-text{
    padding-left: 20px;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 0px;
    text-align: left;
} */

.profile-name {
    background-color: #BBC9F4; 
    font-size: 50px;
}

.profile-desc{
    background-color: #BBC9F4; 
    text-align: left;
    font-size: 24px;
    margin-top: 0px;
}

.profile-container-lower{
    background-color: #BBC9F4; 
}

.icon-list{
    background-color: #BBC9F4; 
    display: flex;
    flex-direction: row;
    /* padding-bottom: 20px; */
    gap: 20px;

}

.icon-counter-pair {
    display: flex;
    flex: row;
    gap: 15px;
    width: 120px;
    justify-content: space-evenly;
    border-radius: 15px;
}

.counter {
    display: flex;
    flex-direction: column;
}