
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;
    width: 50%;
    height: 250px;
    padding: 25px;
    margin: 50px;
    border-radius: 20px;
}

.profile-container-upper {
    background-color: black;
    display: flex;
    gap: 60px;
}

.profile-img {
    border-radius: 50%;
}

.profile-name {
    background-color: black; 
}

.profile-desc{
    background-color: black;
    text-align: center;
    font-size: 50px;
}