.container {
    background-color: #6777E1;
    width: 350px;
    height: 750px;
    gap: 36px;
    display: flex;
    padding: 25px;
    margin-top: 35px;
    margin-right: 75px;
    /* margin-left: 125px; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    border-radius: 20px;
    /* align-items: center; */
}

.leaderboard-header {
    background-color: #6777E1;
    color: black;
}

.friend {
    width: 80px;
    height: 80px;
}