.container {
    background-color: #6777E1;
    width: 400px;
    height: 820px;
    gap: 36px;
    display: flex;
    padding: 25px;
    margin-top: 35px;
    margin-right: 75px;
    flex-direction: column;
    align-items: start;
    border-radius: 20px;
    align-items: center;
}

.leaderboard-header {
    background-color: #6777E1;
    color: black;
}

.friend {
    width: 100px;
}