
.friends-container {
    background-color: lightpink;
    width: 100px;
    display: flex;
    flex-direction: row;

} 

.description-container {
    background-color: lightblue;
    width: 50px;
    
}