
.friends-container {
    background-color: #6777E1;
    width: 280px;
    height: 120px;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;

} 

.pfp {
    background-color: #6777E1;
    border-radius: 15px;
}

.image-container {
    background-color: #6777E1;
    padding: 10px;
}

.description-container {
    background-color: #6777E1;
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-direction: space-evenly;
    line-height: 0px;
    height: 120px;
    align-items: start;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.add-button {
    border-radius: 10px;
    border-color: green;
}

.add-buttons {
    display: flex;
    flex-direction: row;

}

.sub-buttons {
    display: flex;
    flex-direction: row; 
    
}

.sub-button {
    border-radius: 10px;
    border-color: red;
}

.counters {
    display: flex;
    flex-direction: row;
}